{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Event Confirmation
{% endblock %}

{% block body_block %}
    <h1>Please enter verification code sent your mail : {{ request.user.email }}</h1>


    <form action="{% url 'account_confirmation' %}" method="post">
        {% csrf_token %}

        {% if error %}
            {{ error }}
        {% endif %}
        <br/>

        Verification Code: <input type="text" name="ver_code"/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
