<!-- need to add time, facebook page, join event (open login form) for postcode - validate -->

{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block css_block %}
<link href="{% static 'eventually/css/event.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title_block %}
Event
{% endblock %}

{% block jumbotron%}
{% if event %}
<div class="jumbotron-wrapper" style="background-image: url({{ event.image }});">
  {% endif %}
  {% endblock %}


  {% block body_block %}
  {% if event %}
  <!-- Event image, details, comments and map (Using CSS Flexbox)-->
  <main>
    <div class="heading w3-animate-zoom">

      <!-- Event details -->
      <div class="row" id="details-facebook">
        <div id="event-details" class="col s8 card">
          <div class="date">
            <span class="day">{{ event.date|date:"d" }}</span>
            <span class="month">{{ event.date|date:"M" }}</span>
            <span class="year">{{ event.date|date:"Y" }}</span>
          </div>
          <div id="event-info" class="card-content">

            <div class="card-title">{{ event.title }}</div>

            <p><i class="material-icons">event_note</i> <b>Description: </b> {{ event.description }}</p>
            <p><i class="material-icons">access_time</i> <b>Time: </b> TIME</p>
            <p><i class="material-icons">location_on</i> <b>Location: </b> {{ event.address }}</p>
            <p><i class="material-icons">group</i> <b>Attendees: </b> <span id="attendee-count">{{ attendees }}</span> / {{ event.capacity }}</p>

            <div id="join-btn">
              {% ifequal attendees event.capacity %}
              <button class="waves-effect waves-light-green red btn w3-hover-black">Event full</button>
              {% else %}
              {% if user.is_authenticated %}
              {% if joined %}
              <button class="waves-effect waves-light-green btn w3-hover-black blue" type="button">Joined</button>
              {% else %}
              <button id="join-button" data-eventid="{{ event.id }}" class="waves-effect waves-light-green btn w3-hover-black" type="button">Join event</button>
              {% endif %}
              {% else %}
              <button class="waves-effect waves-light-green btn w3-hover-black" href="#">Join event</button>
              {% endif %}
              {% endifequal %}
            </div>
          </div>
        </div>

        <!-- Facebook plugin -->
        <div id="event-facebook" class="col s4 card">
          <div class="card-content">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzainsrawrites&tabs=timeline%2Cevents&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
              height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
              allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </div>


    <!-- Contact host -->
    <div class="contact-host-bar">
      <!-- Modal Trigger -->
      <a id="contact-host-btn" class="btn-floating pulse btn blue modal-trigger" data-target="contact-host"><i
          class="material-icons large">mail</i></a>
    </div>

    <!-- Modal Structure -->
    <div id="contact-host" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>Contact host ({{ event.host.user.username }})</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">CANCEL</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">SEND</a>
      </div>

    </div>
</div>


<div id="comment-map">

  <!-- Comment section (Disqus) -->
  <div id="comment-section" class="card">
    <div class="card-content">
      <div class="card-title">Comment Section</div>

      <div id="disqus_thread"></div>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
          section.</a></noscript>

    </div>
  </div>

  <!-- Map (Google) -->
  <div class="card">
    <div class="card-content">
      <div id="map"></div>
    </div>
  </div>
</div>

{% else %}
<div class="container w3-animate-zoom">
  <div class="card white darken-1">
    <div class="card-content">
        <div class="row">
            <p id="does-not-exist">The specified event does not exist.</p>
        </div>
    </div>
    <div class="card-action blue">
      <div class="input-field center">
        <a class="waves-effect waves-light green btn w3-hover-black" href="{% url 'search' %}">Search for events<i class="material-icons right">search</i></a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}