{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
Index
{% endblock %}
{% block css_block %}
<link href="{% static 'eventually/css/event.css' %}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body_block %}
<div id="comment-section">
    <h1>Comment Section</h1>
    <div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = "http://127.0.0.1:8000/eventually/event/";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "hashCode"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://eventually-uog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments section.</a></noscript>                          
</div>
{% endblock %}