{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Event Confirmation
{% endblock %}

{% block body_block %}
    <h1>Please enter verification code sent your mail</h1>


    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}

        {% if error %}
            {{ error }}
        {% endif %}
        <br/>
        New password : <input type="password" name = "password"/>
        # Include new password again
        Verification Code: <input type="text" name="ver_code"/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

