{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
Host an Event 
{% endblock %}

{% block body_block %}

<div class=" container w3-animate-zoom">
    <div class="card white darken-1">
        <form id="event-form" method="POST" action="{% url 'host' %}" enctype="multipart/form-data">
            {% if event_created %}
            <div class="w3-panel green w3-display-container">
                <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">X</span>
                <p>Event Created Successfully!</p>
                <p></p>
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="card-content">
                <div class="ribbon">
                    <a href="">Host Event</a>
                </div>
                <label for="datepicker">Date</label>
                <input id="datepicker" type="text" name ="date" class="datepicker" required/>
                <label for="timepicker">Time</label>
                <input id="timepicker" type="text" name="time" class="timepicker" required/>
                <p class="errorlist">
                    {{ time_error }}
                </p>
                    <div class="row">{{ event_form.as_p }}</div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Image</span>
                            </div>
                            {{ event_image_form.as_p }}
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <p class="errorlist">
                            {{ image_error }}
                            </p>
                        </div>
                    </div>
            </div>
            <div class="card-action blue">
                <div class="input-field center">
                    <button class="waves-effect waves-light green btn w3-hover-black" type="submit">Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}