{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}

<div class="register-body container w3-animate-zoom">
    <div class="card white darken-1">
        <form id="user_form" method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-content">
                {% if email_error  %}
                        <strong style = "color:red;">{{ email_error }}</strong>
                {% endif %}
                <span class="card-title center">Register - Eventually</span>
                {% csrf_token %}
                <div class="row">
                    {{ user_form.as_p }}
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Avatar</span>
                        </div>

                        {{ profile_form.as_p }}
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        {{ image_error }}
                    </div>
                </div>
            </div>
            <div class="card-action blue">
                <div class="input-field center">
                    <button class="waves-effect waves-light green btn w3-hover-black" type="submit">Register
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
{% endblock %}
