{% extends 'eventually/base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile
{% endblock %}

{% block css_block %}
<link href="{% static 'eventually/css/profile.css' %}" type="text/css" rel="stylesheet" />
{% endblock%}

{% block body_block %}

<div class="profile-body container w3-animate-zoom">
    <div class="card white darken-1">
        <form action="{% url 'user_profile' %}" enctype="multipart/form-data" id="user_form" method="POST">
            <div class="card-content">
                <div class="ribbon">
                    <a href="">Profile</a>
                </div>
                <div class="center container">
                    {% if profile_update %}
                    <div class="w3-panel green w3-display-container">
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">X</span>
                        <p>Profile Updated Successfully!</p>
                        <p></p>
                    </div>
                    {% endif %}
                    <h2>Hi <em>{{user.first_name}}!</em></h2>
                    <div id="profile-card" class="card-panel grey lighten-5 z-depth-3 w3-topbar w3-bottombar w3-border-blue">
                        <div class="row valign-wrapper w3-mobile">
                            <div class="col s4 w3-border-aqua">
                                <img alt="User Profile Picture" class="circle responsive-img" src={{profile_pic}} width="300px" />
                            </div>
                            <div class="col s8 w3-mobile">
                                <i class="fas fa-user"></i>
                                <div>
                                    <em>{{user.username}}</em>
                                </div>
                                <div class="divider"></div>
                                <i class="fas fa-envelope"></i>
                                <div>
                                    <em>{{user.email}}</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% csrf_token %}
                <div class="row">
                    {{ user_form.as_p }}
                </div>
                <div class="row">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Avatar</span>
                        </div>
                        {{ profile_form.as_p }}
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        {{ image_error }}
                    </div>
                </div>
            </div>
            <div class="card-action blue">
                <div class="input-field center">
                    <button class="waves-effect waves-light green btn w3-hover-black" type="submit">Update Profile
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}